---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import Main from '../components/Main.astro';
---

<Layout title="Step 1">
	<main>
		<Sidebar />
		<Main />
	</main>
</Layout>

<style>
	main {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 1rem;
	}
</style>
