---
export interface Props {
	text: string;
}

const {text} = Astro.props;
---

<button class="flex justify-center items-center  p-4 bg-[var(--color-marine-blue)] text-[var(--color-white)] rounded-lg">
	{text}
</button>